{% extends 'base.html' %}

{% block title %}{{ hymn.title }}{% endblock %}

{% block content %}
  <section id="edycja">
    <h3>{{ hymn.title }}</h3>
    {% for line in hymn.lyrics %}
      {% set line_i = loop.index %}
      <div class="d-flex flex-row flex-wrap mb-3" style="font-family: monospace;">
      {% for character in line %}
        {% set character_i = loop.index %}
        <div id="line_{{ line_i }}_char_{{ character_i }}" onclick="chord_menu('line_{{ line_i }}_char_{{ character_i }}')">
          <div></div>
          <div>
            {% if character == ' ' %}
            &nbsp;
            {% else %}
            {{ character }}
            {% endif %}
          </div>
        </div>
      {% endfor %}
      </div>
    {% endfor %} 
  </section>

  <script>
    let chord_menu = function(char_id) {
      console.log(`Character ${char_id} has been clicked`)
    }
  </script>
{% endblock %}
