{% extends 'base.html' %}

{% block title %}{{ hymn.title }}{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='keyboard.js') }}">
  <div id="chords_menu" class="sticky-top justify-content-center" style="width: 100%;">
    <div class="d-flex flex-row justify-content-center">
      {% for chord_base in ("c", "cis", "d", "dis", "e", "f", "fis", "g", "gis", "a", "b", "h") %}
        <div id="chord_buttons_{{ chord_base }}" class="btn-group-vertical btn-group-sm" role="toolbar">
          {% for chord in (chord_base.title(), chord_base, chord_base.title()+"7", chord_base+"7") %}
          <button id="chord_button_{{chord}}" type="button" class="chordButton btn btn-primary" onclick="setChord('{{chord}}')">{{chord}}</button>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <div class="d-flex flex-row justify-content-center">
      <button type="button" class="resetChordButton btn btn-primary" onclick="setChord()">Reset</button>
    </div>
  </div>


  <section id="edycja" style="user-select: none;">
    <h3>{{ hymn.title }}</h3>
    {% for line in hymn.lyrics %}
      {% set line_i = loop.index - 1 %}
      <div class="line d-flex flex-row flex-wrap mb-3" style="font-family: monospace;">
      {% for character in line %}
        {% set character_i = loop.index - 1 %}
        <div class="character" id="line_{{ line_i }}_char_{{ character_i }}" onclick="setMark({{ line_i }}, {{ character_i }})">
          <div style="font-weight: 700;">{% if hymn.chords[line_i][character_i] %}{{ hymn.chords[line_i][character_i] }}{% else %}&nbsp;{% endif %}</div>
          <div>{% if character == ' ' %}&nbsp;{% else %}{{ character }}{% endif %}</div>
        </div>
      {% endfor %}
      </div>
    {% endfor %} 
  </section>

  {% if is_admin %}
  <form id="weryfikacja" method="POST">
    {% if hymn.editable %}
    <button id="verification_button" type="submit" class="btn btn-success btn-lg btn-block">Mark as verified</button>
    {% else %}
    <button id="verification_button" type="submit" class="btn btn-danger btn-lg btn-block">Mark as unverified</button>
    {% endif %}
  </form>
  {% endif %}

  <script>
    const linesNumber = document.getElementsByClassName('line').length
    console.log(`Number of lines: ${linesNumber}`)

    const charactersNumber = []
    for (i=0; i<linesNumber; i++) {
      charactersNumber.push(document.getElementsByClassName('line')[i].getElementsByClassName('character').length)
      console.log(`Number of characters in line ${i}: ${charactersNumber[i]}`)
    }

    const coordsToId = (line, character) => `line_${line}_char_${character}`
    const idToCoords = (id) => [id.split("_")[1] - 1, id.split("_")[3] - 1]

    var currentMark = [0, 0];
    const characterDiv = (mark=currentMark) => document.getElementById(coordsToId(...mark))
    const charValue = (mark=currentMark) => characterDiv(mark).children[1].innerHTML
    const chordDiv = (mark=currentMark) => characterDiv(mark).children[0]

    // Mark clicked character as currently edited - sets 'currentMark' variable for chord setting
    const setMark = function(line, character) {
      // remove border from all characters
      Array.from(document.getElementsByClassName("character")).forEach((el) => {el.classList.remove("border", "border-danger")})
      // set currently marked character
      currentMark = [line, character]
      // add border to currently marked character
      characterDiv().classList.add("border", "border-danger")
    }

    // Set chord for currently marked character (or any given) and send to backend
    const setChord = function(chord=null, mark=currentMark) {
      console.log(`Setting chord ${chord} on character ${mark}`)
      if (chord == null) {
        chord = ''
        chordDiv().innerHTML = '&nbsp;'
      } else {
        chordDiv().innerHTML = chord
      }
      let [line, character] = mark
      chord = chord.trim()
      fetch(
        "{{ url_for('views.add_chord', uid=hymn.uid) }}", 
        {
          method: "POST",
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({line: line, character: character, chord: chord})
        }
      ).then((response) => {console.log(response)})
    }

    // Navigation functions
    const nextLetter = function(line, character) {
      if (line == linesNumber - 1 && character >= charactersNumber[line] - 1) return [linesNumber - 1, charactersNumber[line] - 1] // stay on last letter
      if (character >= charactersNumber[line] - 1) return [line + 1, 0] // move next line
      return [line, character + 1] // move next letter
    }
    const prevLetter = function(line, character) {
      if (line == 0 && character <= 0) return [0, 0] // stay on first letter
      if (character <= 0) return [line - 1, charactersNumber[line - 1] - 1]
      return [line, character - 1]
    }

    const chords = {
      "c": ['C', 'c', 'C7', 'c7'],
      "cis": ['Cis', 'cis', 'Cis7', 'cis7'],
      "d": ['D', 'd', 'D7', 'd7'],
      "dis": ['Dis', 'dis', 'Dis7', 'dis7'],
      "e": ['E', 'e', 'E7', 'e7'],
      "f": ['F', 'f', 'F7', 'f7'],
      "fis": ['Fis', 'fis', 'Fis7', 'fis7'],
      "g": ['G', 'g', 'G7', 'g7'],
      "gis": ['Gis', 'gis', 'Gis7', 'gis7'],
      "a": ['A', 'a', 'A7', 'a7'],
      "b": ['B', 'b', 'B7', 'b7'],
      "h": ['H', 'h', 'H7', 'h7'],
    }

    // TODO: create chord buttons from above array

    const nextChord = function(line, character, chord_base) {
      // Check if current chord is set
      let currentChord = chordDiv([line, character]).innerHTML
      let nextChord
      if (currentChord.toLowerCase().startsWith(chord_base)) {
        console.log(currentChord.toLowerCase())
        return chords[chord_base][(chords[chord_base].indexOf(currentChord) + 1) % 4]
      } else {
        return chords[chord_base][0]
      }
    }

    const modifyChord = function(line, character) {
      // add 'is' suffix to chord or remove if chord contains "is" already
      let currentChord = chordDiv([line, character]).innerHTML
      if (currentChord == "&nbsp;") return currentChord
      if (currentChord.includes("is")) return currentChord.replace("is", "")
      return currentChord.substr(0, 1) + "is" + currentChord.substr(1)
    }

    document.addEventListener('keydown', (event) => {
      console.log(event.code)
      if (event.code === "ArrowLeft") setMark(...prevLetter(...currentMark))
      if (event.code === "ArrowRight") setMark(...nextLetter(...currentMark))
      if (event.code === "Digit0") setMark(0, 0)
      if (event.code === "KeyC") setChord(nextChord(...currentMark, 'c'))
      if (event.code === "KeyD") setChord(nextChord(...currentMark, 'd'))
      if (event.code === "KeyE") setChord(nextChord(...currentMark, 'e'))
      if (event.code === "KeyF") setChord(nextChord(...currentMark, 'f'))
      if (event.code === "KeyG") setChord(nextChord(...currentMark, 'g'))
      if (event.code === "KeyA") setChord(nextChord(...currentMark, 'a'))
      if (event.code === "KeyB") setChord(nextChord(...currentMark, 'b'))
      if (event.code === "KeyH") setChord(nextChord(...currentMark, 'h'))
      if (event.code === "KeyI") setChord(modifyChord(...currentMark))
      if (event.code === "KeyR") setChord()
    })

    setMark(0, 0)

  </script>
{% endblock %}
